# Ignore all .log files
*.log

# Ignore all files in any directory named temp
temp/
temp_input/

# Ignore all files in __pycache__ directory
__pycache__/

# Ignore trained model files
*.pth
*.geojson
*.jpg

# ignore temp dockerfiles
Dockerfile.tmp

# PyCharm
.idea

# emacs
*~

# the large file for the georeferencing module
ustopo_current.csv
