numpy
matplotlib
collection
statistics
opencv-python-headless==4.6.0.66
Pillow
datetime
scikit-image
pathlib
tqdm
wandb
joblib
pyvips
pandas
geopandas
shapely
GDAL==3.6.2
rasterio
pyproj
pytesseract











